<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="appversion" value="1"/>
    <add key="appurl" value="http://61.161.246.70:86/Update/EP_SYSTEM.apk"/>
    <add key="appurl_nei" value="http://192.168.1.234:86/Update/EP_SYSTEM.apk"/>
  </appSettings>
  <!--连接字符串设置-->
  <connectionStrings>
    <!--61.161.147.50-->
    <!--<add name="ConnStringDes" connectionString="xEmsuGwGg6eWPfpbymAF0sh95aqnzftaih5HFSsF6PQr5s3AZJrYAIrqZ8rkbEtdGaAJqI0ANECLTFDXnCbGdXegMloUSh2yQwmpQKEv9xbn0UA3x5/PKEuZmq1z3vBmJ+Z1ieSjGWPnn3FeRYfj6dKqL+i3q0WBGnJhVu4hV8DKxxVkaAQkDRjVNsVvfAtRjTKWX+LDrSG77WCmBlotUm6zySBqMiKMAd9/qG/+IVmHqJ/FPj7IF5lJFfVEd8CUtBp3NuNnUWXQJ/15kFcL6TrU5+0lq0pM7/D+SVQB5HOAL0LQKV4wm8FAWMPmqTL4Ywon2yfHjwApGmEH8UJ/Rh4nibYLQOAkdpFrvfsuoJUprNR4Gxg41habKb2ITu1YKS6q9j1ae3rT7VhG+i6rWDVC59J4PmQqlpfWYQ1/444wsBhHflmPQrWeu3wf4HFA"/>-->
    <!--192.168.1.234-->
    <!--<add name="ConnStringDes" connectionString="d+pDHAxH+Y8yhE8tssuQQ+zRgR8l8QNKKxh/2kp0NFFtmVND6+MEQisCwUH7JG1FI4f84lbZ76FG5BOTuefvzXUEx+iD7fvyhOA93jOqIbg+E5MkXbb7Rc9zzcFWqRxLcH/3v26nVFRLr2Ns5PhAMikUgnpTU5/ZUl9xhHyG8TpqsAylHKzH4wy4HtGHD/wQgoyTlf6Fsd7qoxsDNOu2IyuDIu9sFiWLjM/x6lV34CI6al7BY5wwkpBCvZw7B/14zF8yhTcontFiqsR9fjNOUrhMzKVAz5dVTyzcsk65qZoAJsjjC+cae30fpJONMutY"></add>-->
    <!--61.161.246.70-->
    <add name="ConnStringDes" connectionString="d+pDHAxH+Y+JdcagsFWS41v/dU8CjdXJuKY0b40EpOyfgKjJ5bZPCNwtGbizT2aytoQCYOIIUtnd+ucnkR2HXoUCEYX8kw4pL0xvUa2q5b+02NOxQADPIJ+9oOAXbMdh+uMQNw/s+diSeybmrnSOO2o/O96TEKBFo91pdV3uAIpc5wP/3453KLHEC2JxPgBTjpgpwL/FUP4tvS4zekIMpMAjifOXTln6JWgjdmNhxNi4HysCHHcBCO3H0YecCA5RiyDJ5Vxu5J99aBjnuzBKZfeDryp38gLKUP1Y1GkT8G7q3aKrAKIRtfYeLNXp1xma"></add>
    <!--192.168.27.12-->
    <!--<add name="ConnStringDes" connectionString="d+pDHAxH+Y8yhE8tssuQQ+zRgR8l8QNKA75DF5yAuUgvAD1rXOFzH8xSsnN4vA6tRWp1Lrvh0UBU2g0x+OBaSwFRT4koHyDTLCaMj4pVlKW1BaVKMkTWnhShcMoLUzcl1Ubq6sAqROblO6+mCt15YazNcn0dSaWyiydssUc0HNpW7HFjk6p50Ft9e2EybzBD4tkxufcEvk69wbnSrBsjNjUMwfd2T0CmArBxZ1evSxfZ7uzv6o27P/eJltPHR/B1omqqToVTgthvWs77XexUlWrd27kYhhowfvXrwP+6jK8="></add>-->
  
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" maxQueryString="5120" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime  maxQueryStringLength="102400"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Administration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="NuGet.Core, Version=1.6.30117.9648, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>