.table {
  margin-top: 1.25rem;
  border: 0.07500000000000001rem solid #017d7b;
}
.table > p {
  text-align: center;
  height: 1.6rem;
  background: #017d7b;
  color: #fff;
  font-size: 0.7000000000000001rem;
  text-indent: 0.55rem;
  line-height: 1.75rem;
  margin-bottom: 0!important;
}
table {
  width: 100%;
  border: none;
}
table td {
  text-align: center;
  line-height: 1.5rem;
  border: 0.07500000000000001rem solid #97c0bf;
  color: #017d7b;
  font-size: 0.7000000000000001rem;
  padding: 0 0.07500000000000001rem;
}
table tbody tr td:last-of-type img {
  width: 2rem;
  height: 0.8500000000000001rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}
table tbody tr td:last-of-type > div {
  display: inline-block;
  width: 2rem;
  height: 0.8500000000000001rem;
  background: #fff;
  border: 0.07500000000000001rem solid #017d7b;
  border-radius: 0.5rem;
  line-height: 0.7000000000000001rem;
  font-size: 0.55rem;
  vertical-align: middle;
}
body > button {
  background: #017d7b;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 1.675rem;
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0;
  border: none;
}
.window {
  display: none;
  position: fixed;
  z-index: 99999999999999;
  top: 30vh;
  left: 2.875rem;
  width: 13rem;
  border: 0.125rem solid #017d7b;
  padding: 0.5750000000000001rem 0.8rem;
  background: #fff;
  font-size: 0.65rem;
}
.window p {
  font-size: 0.65rem;
  color: #017d7b;
  line-height: 0.65rem;
  text-align: left;
}
.window textarea {
  height: 5.25rem;
  border: 0.07500000000000001rem solid #017d7b;
  font-size: 0.65rem;
  line-height: 0.8rem;
}
.window div {
  text-align: right;
}
.window button {
  font-size: 0.65rem;
  color: #fff;
  background: #017d7b;
  border: none;
}
.people li {
  /*height: 1.75rem;*/
  margin-bottom: 0.375rem;
  font-size: 0.75rem;
  line-height: 1.75rem;
}
.people li span {
  display: inline-block;
  margin-left: 0.875rem;
}
.people li select {
  position: relative;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0 !important;
  width: 60%;
  padding: 0.07500000000000001rem 0.5rem;
  border: 0.07500000000000001rem solid #017d7b !important;
  float: right;
  margin-right: 0.875rem;
  overflow: hidden;
}
.people li option {
  width: 100%;
  overflow: hidden;
}
